<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>Die Kamera wird benötigt, um Fotos zu Checklistenpunkten hinzuzufügen.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Zum Speichern von Fotos zu Checklistenpunkten in Ihrer Mediathek.</string>
</dict>
</plist>
